.side-nav {
    overflow: visible !important;
}

.reset-overlay {
    opacity: 0 !important;
}

.bt-home {
    position: absolute;
    right: -45px;
    top: 0;
    background: #FFF !important;
    padding: 3px 10px;
    padding-top: 8px;
    z-index: -2;
}

.bt-home i {
    font-size: 30px;
    color: #666666;
}

.chamados {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
    color: #EEE;
}
.carrega{
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.fechar{
    position: fixed;
    top: 10px;
    right: 40px;
    z-index: 999;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 20px;
    border-bottom:1px solid #fff;
    padding:2px 10px;
    cursor: pointer;
}
.fechar i{
    font-size: 20px;
}
.log-row{
    display: flex;
    align-items: center;
    height: 100vh;

}
.login-form{
    background: #FFF;
    margin: auto !important;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    padding: 0 50px;
}
@media screen and (max-width: 600px) {
	.login-form{
        width: 88% !important;
        padding: 0 5%;
    }
}
.mensagens{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: #f00;
    border-radius: 50%;
    z-index: 999;
}
.avatar{
    box-shadow: 2px 2px #00838f !important;
}
.rodape-box{
    display: inline-flex;
    flex-direction: row;
}
.bt-rdp{
    border-radius: 0!important;
}
.content-ocorrencia{
    color: #333;
}
.item-lista{
    display: flex;
    align-content: center;
    align-items: center;
}
.total{
    with: 100% !important;
}
.botao-clean{
    background: transparent !important;
    border: 1px solid #fff;
}