{% load static %}


<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/funcoes.js' %}"></script>

<!-- Modal Structure -->
<div id="cad-abrigo" class="modal">
    <div class="modal-content">
        <h4>Cadastro de abrigo</h4>

        <div class="row">

            <div class="col s12">
                <label>Nome</label>
                <input type="text" placeholder="Digitre o nome do abrigo">
            </div>
            <div class="col s6">
                <label>Cep</label>
                <input type="text" placeholder="Digite o CEP" id="cep">
            </div>

            <div class="col s6">
                <label>Rua</label>
                <input type="text" id="rua">
            </div>
            <div class="col s3">
                <label>Bairro</label>
                <input type="text" id="bairro">
            </div>
            <div class="col s3">
                <label>Cidade</label>
                <input type="text" id="cidade">
            </div>
            <div class="col s3">
                <label>UF</label>
                <input type="text" id="uf">
            </div>
            <div class="col s3">
                <label>Número</label>
                <input type="text" id="uf" placeholder="Número">
            </div>


        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cadastrar</a>
    </div>
</div>


</body>
</html>