{% load static %}
{% include 'head.html' %}
<body>
<div class="chamados">
    <div class="carrega">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-yellow-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'menu.html' %}
<div id="map"></div>

<script type="text/javascript">
function initMap() {
    var styledMapType = new google.maps.StyledMapType(
            [
                {
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#ebe3cd"
                        }
                    ]
                },
                {
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#523735"
                        }
                    ]
                },
                {
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#f5f1e6"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#c9b2a6"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#dcd2be"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#ae9e90"
                        }
                    ]
                },
                {
                    "featureType": "administrative.neighborhood",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "landscape.natural",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#93817c"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#a5b076"
                        }
                    ]
                },
                {
                    "featureType": "poi.park",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#447530"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f5f1e6"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#fdfcf8"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#f8c967"
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#e9bc62"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#e98d58"
                        }
                    ]
                },
                {
                    "featureType": "road.highway.controlled_access",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#db8555"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#806b63"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#8f7d77"
                        }
                    ]
                },
                {
                    "featureType": "transit.line",
                    "elementType": "labels.text.stroke",
                    "stylers": [
                        {
                            "color": "#ebe3cd"
                        }
                    ]
                },
                {
                    "featureType": "transit.station",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "color": "#dfd2ae"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#b9d3c2"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#92998d"
                        }
                    ]
                }
            ],
            {name: 'Styled Map'});

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: {lat: -9.975, lng: -67.81},
        mapTypeId: 'roadmap',
        zoomControl: true,
        zoomControlOptions: {
            position: google.maps.ControlPosition.RIGHT_BOTTOM,
        },

        mapTypeControl: true,
        mapTypeControlOptions: {
            position: google.maps.ControlPosition.RIGHT_TOP
        },


    });
    var lastUsed = 0;

    {% for i in pontos %}
        {% if ultimo.nivel > i.altura %}
            var image = "{% static 'ponto.png' %}";
        {% else %}
            var image = "{% static 'ponto_verde.png' %}";
        {% endif %}
        var a{{i.id}} = new google.maps.Marker({
            position: {lat: {{i.latitude}}, lng: {{i.longitude}}},
            map: map,
            title: "{{i.titulo}}",
            content: "",
            icon: image,
            animation: google.maps.Animation.DROP
        });

        <!--marcador-->
	    {% if ultimo.nivel > i.altura %}
            var b{{i.id}} = new google.maps.InfoWindow({
            maxWidth: 300,
            content: "<div class='row' style='text-align: center'></div>" +
                    "<div class='card-content'>" +
                    "<p><h4>{{i.titulo}}</h4><h6><strong>Cota de Alerta:</strong> {{ i.altura }}<sup>cm</sup></h6><h6><strong>Cota Atual:</strong> {{ ultimo.nivel }}<sup>cm</sup></h6></p></div><div class='card-action'>" +
                    "<a class='waves-effect waves-light btn  red lighten-1 total '><i class='material-icons left'>error_outline</i>Emitir alerta</a>" +
                    " </div>"});
        {% else %}
            var b{{i.id}} = new google.maps.InfoWindow({
            maxWidth: 300,
            content: "<div class='row' style='text-align: center'></div>" +
                    "<div class='card-content'>" +
                    "<p><h4>{{i.titulo}}</h4><h6><strong>Cota de Alerta:</strong> {{ i.altura }}<sup>cm</sup></h6><h6><strong>Cota Atual:</strong> {{ ultimo.nivel }}<sup>cm</sup></h6></p></div><div class='card-action'>" +
                    "<a class='waves-effect waves-light btn  red lighten-1 total disabled '><i class='material-icons left'>error_outline</i>Emitir alerta</a>" +
                    " </div>"});
        {% endif %}


        a{{i.id}}.addListener('click', function () {
            if (lastUsed)  lastUsed.close();
            b{{i.id}}.open(map, a{{i.id}});
            lastUsed = b{{i.id}};
        });
    {% endfor %}


//Associate the styled map with the MapTypeId and set it to display.
    map.mapTypes.set('styled_map', styledMapType);
    map.setMapTypeId('styled_map');


}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJRzaJB3fABbEFRmxnejgpNUzD0_9TLto&libraries=visualization&callback=initMap">
</script>

{% include 'footer.html' %}